<h1>出席数:</h1>
<% @users.each do |user| %>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <%= link_to user_path(user.id), class: "text-dark text-decoration-none" do %>
      <span><%= user.name %></span>
    <% end %>
    <span class="badge badge-primary"><%= user.attendances.count %>件</span>
  </div>
<% end %>
