<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>勤怠管理アプリ</h1>
        <p id="RealtimeClockArea2"></p>
        <%= link_to "新規登録" , new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "ログイン" , new_user_session_path, class: "btn  btn-primary" %>
      </div>
    </div>
  </div>

<%#時計表示: 参考文献 %>
<%# https://www.nishishi.com/javascript-tips/realtime-clock-setinterval.html %>
